.documents-view {
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    align-items: center;
    gap: 20px
}

.documents-view figure {
    padding: 30px;
}



/*********/
.box{
    position: relative;
    max-width: 400px;
    padding: 0px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

}

.box:before
{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}

.box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: grid;
    place-items : center;
    margin: 10px auto;
    padding: 20px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    transition: 1s;
}


/*box 1*/
 .box .icon{
    box-shadow: 0 0 0 0 var(--blue);
    background: var(--blue);

}

 .box:hover .icon{
    box-shadow: 0 0 0 400px var(--blue);
    background: var(--blue);

}

 .box.active .icon{
    box-shadow: 0 0 0 400px var(--dark-blue);
    background: var(--dark-blue);

}

.box .icon.yellow{
    box-shadow: 0 0 0 0 var(--yellow);
    background: var(--yellow);

}

 .box.active:hover .icon.yellow{
    box-shadow: 0 0 0 400px var(--red);
    background: var(--red);

}

 .box.active .icon.yellow {
    box-shadow: 0 0 0 400px var(--dark-yellow);
    background: var(--dark-yellow);

}


.box .content {
    position: relative;
    z-index: 100;
    transition: 0.5s;

}
.box:hover .content{
    color: #fff;
}

.box.active h4{
    color: #fff;
}

.box .content h4{
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

