
.diamond-grid {
    display: grid;
    place-items: center;
    margin: 0 3%; 
    gap: 30px;
    grid-template-columns: repeat( 6, 8vw ) ;
    grid-auto-rows: 8vw;
    z-index: 11
}

.diamond-grid .item-shadow{
    position: relative;
    display: table;
    place-items: center;
    grid-row: var(--row) / span 2 ;
    grid-column: var(--col) / span 2 ;
    filter: drop-shadow(-1px 10px 3px #1b1b1b);
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.diamond-grid .item-shadow .diamond-item:before ,.diamond-grid .item-shadow .diamond-item:after{
    content: "";
    width:100%;
    height: 50%;
    position: absolute;
    background: var(--dark-blue);
    z-index: 0;
    transform: skew(0 ,var(--deg));
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    transition: 0.5s ;
}


.diamond-grid .item-shadow .diamond-item:before{
    top: -30%;
    left: 0;
}

.diamond-grid .item-shadow .diamond-item:after {
    bottom: -30%;
    left: 0;
}


.diamond-grid .item-shadow .diamond-item{
    clip-path: polygon( 0 50% ,50% 0,100% 50%, 50% 100%);
    padding: 25%;
    background: white;
    transition: 0.5s ;
}
.diamond-grid .item-shadow .diamond-item:hover{
    padding: 5%;
}

.diamond-grid .item-shadow .diamond-item:hover:after{
    bottom: -10%;
}


.diamond-grid .item-shadow .diamond-item-logo{
    width: 100%;
    
}