
.card{
    --perspective: 1000px;
    position: absolute;
    top: -10%;
    left: 0;
    height: 110%;
    width: 50%;
    margin: 2%;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    z-index: 12;
    transition: 1s ease-in;
}

.card.right{
    left: 50%;
}

.card.right .face.front{
    transform: perspective(var(--perspective))  rotateY(180deg);
}
.card.right .face.back{
    transform: perspective(var(--perspective)) rotateY(360deg);
}


.card .face{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(var(--perspective)) rotateY(0deg);
    /* border-radius: 5%; */
}

.card .face:after{
    content: '';
    position: absolute;
    transform-style: preserve-3d;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 2s ease-in-out;
    transform: perspective(var(--perspective)) rotateY(0deg);
}

.card .face.front{
    background: #ff0;
    color: #fff;    
}

.card .face.back{
    background: #3bc2ff;
    color: #fff;
    transform: perspective(var(--perspective))  rotateY(180deg);
}


/* .card:hover .face.front{
    transform: perspective(var(--perspective))  rotateY(180deg);
}
.card:hover{
    left:50%;
}

.card:hover .face.back{
    transform: perspective(var(--perspective)) rotateY(360deg);
} */

.card .face h2{
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    padding: 15%;
    transform: perspective(var(--perspective)) translateZ(50px);
    text-shadow: 0 0 10px var(--gray) ,0 0 15px var(--gray) , 0 0 20px var(--gray);
}