
.card{
    position: relative;
    height: 80%;
    max-height: 800px;
    width: 80%;
    max-width: 800px;
    transform-style: preserve-3d;
    
    display: grid;
    place-items: center;
    z-index: 10;
}
.leftCard{
    grid-column: 1 ;
    grid-row: 1;
}
.rightCard{
    grid-column: 2 ;
    grid-row: 2;
}


.card .face{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.card .face:after{
    content: '';
    position: absolute;
    transform-style: preserve-3d;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front{
    background: #ff0;
    color: #fff;    
}
.card:hover .face.front{
   
    transform: perspective(500px)  rotateY(180deg);
}

.card .face.back{
    background: #3bc2ff;
    color: #fff;
    transform: perspective(500px)  rotateY(180deg);
}

.card:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}

.card .face h2{
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    padding: 10%;
    transform: perspective(500px) translateZ(50px);
    text-shadow: 0 0 10px var(--gray) ,0 0 15px var(--gray) , 0 0 20px var(--gray);

}