
/*EL AGRID DE 2x2 si tenias razOn de ser pendejo*/
.stickyContainer{
    --deg: -23deg;
    width: 100vw;
    height: 200vh;
    position: relative;
    background: var(--dark-gray);
    /* display: grid; */
    /* place-items: start; */
    /*  overflow: hidden; */
    /* grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 100vh; */
}

 
.stickyContainer:before{
    content: "";
    grid-column: 1;
    grid-row: 1 ;
    display: block;
    top: 0;
    width: 100%;
    height: 30%;
    position: absolute;
    background: var(--gray);
    z-index: 0;
    transform: skew(0,var(--deg))
}

.stickyContainer:after{
    content: "";
    grid-column: 1  ;
    grid-row: 1 ;
    display:block;
    bottom: 0;
    width:100%;
    height: 30%;
    position: absolute;
    background: var(--gray);
    z-index: 0;
    transform: skew(0,var(--deg));
    opacity: 0.3;
}
section.stickyContainer .sticky{
    position: sticky;
    top: 15%;
}
.floatOver{
    height: 100%;
    background: red
}
.text-container{
    position: relative;
    display: grid;
    grid-template-columns: 50vw 50vw;
    z-index: 2;
    width: 100%;
    height: 75vh;
    background: var(--dark-yellow);
    overflow: hidden;
}

.text-container .text-right {
    grid-column: 2;
    grid-row: 1;
    color : #fff;
    margin: 12%;
    max-height: 500px;
    overflow: auto;
    text-align: left;
    display: grid; 
    gap: 15px 0;
}
.stickyContainer div.a{
    background: blue;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.text-container .text-left {
    grid-column: 1;
    grid-row: 1;
    color : #fff;
    margin: 12%;
    max-height: 500px;
    overflow: auto;
    text-align: left;
    display: grid; 
    gap: 15px 0;
}

.text-container:before{
    content: "";
    top: -65%;
    width:100%;
    height: 50%;
    position: absolute;
    background: var(--yellow);
    z-index: -1;
    transform: skew(0 , var(--deg));
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);

}
.text-container:after{
    content: "";
    bottom: -65%;
    width:100%;
    height: 50%;
    position: absolute;
    background: var(--yellow);
    z-index: -1;
    transform: skew(0 , var(--deg));
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
}

.text-container .right_text {
    grid-column: 1;
    text-align: right;
}
.stickyContainer figure{
    position: relative;
    display: grid;
    place-items: center;
   z-index: 10;
}

.stickyContainer figure img{
    height: 80%;
   height: 800px;
    width: 80%;
    max-width: 800px;
    z-index: 10;
    object-fit: cover;
    position: relative;
}

.stickyContainer .img_left {
    grid-column: 2;
    grid-row: 2;
}

.stickyContainer .img_right{
    grid-column: 1;
    grid-row: 1;
}

.sticky .card-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
}
