*{
  --red: #c83232;
  --dark-red: #a01928;
  --blue: #233c7d;
  --dark-blue: #0a3755;
  
  --yellow: #fabe32;
  --dark-yellow: #f0a000;
  --gray: #3c3c3c;
  --dark-gray: #191919;
  --dark-gray2: #191919aa;
}

body{
  background-color: var(--dark-gray) ;
  max-width: 100vw;
}
/*****/
.icons i{
  display: inline-block; 
}
.icons span:before{
  display: inline-block;
  color: white;
  font-family: Flaticon;
  font-size: 130px;
}
.icons a{
 /*  display: inline; */
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
.icons i:before{
  background: red;
  border-radius: 100%;
  color: white;
  font-family: Flaticon;
  font-size: 40px;
  text-decoration: none;
}


